body{
  background-color: lightgreen;
}
.App {
  text-align: center;
}
.container{
  display: grid;
  grid-template-columns: 15% 1fr 30%;
  grid-template-rows: 5% 1fr 5%;
  grid-template-areas: 
    "navbar navbar navbar"
    "menu main search"
    "footer footer footer";
}

.fridge, .shoppinglist{
  grid-area: main;
}

.search{
  grid-area: search;
}

.fridgeItems{
  width: 100%;
  display: inline-block;
}

.fridgeItems li{
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

.description{
  width: 40%;
  float: left;
}
.amount, .unit, .dltButton{
  width: 15%;
  float: left;
}

.fdcItems{
  width: 100%;
  display: inline-block;
}

.fdcItems li{
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

.searchDescription, .addButton{
  width: 50%;
  float: left;
}

