body{
  background-color: white;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
#root{
  height: 100vh;
  padding: 0%;
  margin: 0;
}

.container{
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 15% auto 30%;
  grid-template-rows: 5% auto;
  grid-template-areas: 
    "menu navbar navbar"
    "menu main search";
}

.fridge, .fridgeCards, .shoppinglist, .shoppingCards{
  grid-area: main;
  color: #383E41;
}



.searchComponent{
  grid-area: search;
  height: 99.8%;
  width: 99.5%;
  border-left: #D1D1D6 1px solid;
  color: #383E41;
}

.fridgeItems, .shoppingItems{
  padding-inline-start: 0px;
}

.fridgeItems li, .shoppingItems li{
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: #D1D1D6 0.5px solid;
}

.description{
  width: 40%;
  float: left;
}
.amount, .unit, .dltButton{
  width: 20%;
  float: left;
}


.fdcItems{
  width: 80%;
  display: inline-block;
}

.fdcItems li{
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

.searchDescription, .addButton{
  width: 50%;
  float: left;
}

.navbar{
  display: inline-block;
  grid-area: navbar;
  width: 100%;
  height: 5vh;
  background-color: #F2F2F7;
  color: #383E41;
  border-bottom: #D1D1D6 1px solid;
}

.nav-logo{
  float: left;
  width: 20%;
}

.nav-buttons-left{
  display: flex;
  float: left;
  height: 20px;
  list-style: none;
  text-decoration: none;
  width: 40%;
  margin-top: 8px;
}

.nav-buttons-right{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  float: right;
  height: 20px;
  list-style: none;
  text-decoration: none;
  width: 40%;
}

.nav-buttons-left li, .nav-buttons-right li{
  padding-right: 1rem;
  font-size: 1.2rem;
}


.sideMenu{
  grid-area: menu;
  background-color: #244564;
  color: white;
  border-right: #22415F 1px solid;
}

.menuButtons{
  list-style: none;
  text-decoration: none;
  display: inline-block;
  width: 65%;
  padding-inline-start: 0px;
}

.menuButtons li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menuButtons li:hover{
  background-color: #3674A7;
  border-radius: 10%;
}

.menuButtons li h4{
  padding-left: 1.5rem;
}

.homePage{
  grid-area: main;
  background-image: url('./images/output-onlinepngtools.png');
  background-position: center;
  background-repeat: no-repeat;
  color: #3674A7;
  /* background-size: contain; */
}

.modalForm{
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.about{
  grid-area: search;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}